@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Jura:wght@300..700&display=swap');

/* Основные настройки */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #020E20;
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}
.container{
    margin: 0 auto;
    width: 1612px;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.ai-center{
    display: flex;
    align-items: center;
}
.ai-start{
    display: flex;
    align-items: start;
}
.jc-center{
    display: flex;
    justify-content: center;
}
.jc-end{
    display: flex;
    justify-content: end;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 96px;
    font-weight: 700;
    color: black;
    z-index: -2;
    margin-top: 100px;
}
h2{
    font-size: 48px;
    font-weight: 700;
}
h3{
    font-size: 36px;
    color: #A6FF73;
}
h4{
    font-size: 24px;
    font-weight: 700;
    color: black;
}
h5{
    font-family: "Dhurjati", sans-serif;
}
h6{
    font-size: 20px;
}
p{
    font-size: 32px;
    font-weight: 400;
}

/* HEADER */

header{
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 119, 222, 0.7) 0%, #A6FF73 100%);
}
.nav{
    border-bottom: 1px solid #FFFFFF;
}
.menu li+li{
    margin-left: 35px;
}
.menu a{
    color: #FFFFFF;
    transition: 0.2s ease-in;
}
.menu a:hover{
    text-decoration: dotted;
    text-decoration: underline;
    color: #A6FF73;
}
.logo h5{
    font-weight: 400;
    margin-left: 4px;
    font-size: 20px;
}
.btn-call{
    background-color: #A6FF73;
    padding: 0 016px 0 8px;
    border-radius: 12px;
    margin: 11px 0;
}
.btn-call h5{
    color: #020E20;
    font-size: 28px;
    font-weight: 400;
    margin-left: 16px;
}
.main-header{
    text-align: center;
}
.main-img{
    position: absolute;
    top: 330px;
    z-index: 1;
    width: 100%;
}
.btn-type1{
    background-color: #A6FF73;
    border-radius: 12px;
    padding: 16px 27px;
    color: black;
}
.container-btn .btn-type1{
    position: absolute;
    z-index: 2;
}
.container-btn{
    width: 286px;
    margin-top: 360px;
}


/* SECTION ABOUT US*/
.section-about-us .container{
    margin: 300px auto 267px auto;
}
.section-heading img{
    margin: -100px 0 80px;
}
.section-heading h2{
    margin: 45px;
}
.description{
    width: 50%;
}


/* SECTION UPCOMING TOURS */

.section-heading img{
    height: 90px;
}
.section-upcoming-tours .section-heading img{
    width: 32%;
}
.description-tour{
    background: #FFFFFF66;
    backdrop-filter: blur(70px);
    border-radius: 20px;
    padding: 30px 60px;
    width: 40%;
    margin: 100px 0 0 -115px;
}
.description-tour h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Jura", sans-serif;
    margin: 50px 0 20px 0;
}
.btn-type2{
    background: linear-gradient(91.21deg, rgba(255, 255, 255, 0.2) 2.35%, rgba(166, 255, 115, 0.4) 49.78%, rgba(255, 255, 255, 0.2) 99.14%);
    border: 1px solid #A6FF73;
    color: black;
    padding: 13px 23px;
    transition: 0.2s ease-in;
}
.btn-type2:hover{
    background: linear-gradient(91.21deg, rgba(166, 255, 115, 0.4) 2.35%, rgba(166, 255, 115, 0.4) 49.78%, rgba(166, 255, 115, 0.4) 99.14%);
}
.description-tour h4{
    color: #FFFFFF;
}
.num{
    font-family: "Dhurjati", sans-serif;
    font-weight: 400;
}
.cost{
    margin-bottom: 15px;
}
.card-type1 img{
    height: 470px;
}
.card-num2{
    margin: 70px 0 100px 0;
}


/* SECTION GIDS */


.section-gids .section-heading img {
    width: 24%;
}
.border{
    box-shadow: 0px 0px 0px 0px #0077DE33;
    padding: 13px;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 60px;
    border-width: 2px;
    border-style: solid;
}
.border-passive{
    border-image: linear-gradient(144.34deg, rgba(0, 119, 222, 0.22) 5.59%, rgba(0, 119, 222, 0.2) 50.92%, #0077DE 96.25%);
    border-image-slice: 1;
}
.border-actiive{
    border-image-source: linear-gradient(144.34deg, #A6FF73 5.59%, rgba(166, 255, 115, 0.2) 50.92%, #A6FF73 96.25%);
    border-image-slice: 1;
    margin: 0 100px;
}
.card-passive{
    background: linear-gradient(198.08deg, rgba(0, 119, 222, 0.12) 1.88%, rgba(0, 119, 222, 0.02) 54.6%, rgba(0, 119, 222, 0.1) 99.51%);
}
.card-active{
    background: linear-gradient(198.08deg, rgba(166, 255, 115, 0.12) 1.88%, rgba(166, 255, 115, 0.02) 54.6%, rgba(166, 255, 115, 0.1) 99.51%);
}
.card-type2{
    text-align: center;
    border-radius: 20px;
}
.card-type2 p{
    font-size: 32px;
}
.card-passive h5{
    color: #0077DE;
    font-family: "Jura", sans-serif;
}
.card-active h5{
    color: #A6FF73;
    font-family: "Jura", sans-serif;
}
.card-type2 h5{
    font-size: 20px;
}
.slider .card-type2 .text{
    padding: 0px 72px 40px 72px;
}
.slider .card-active .text{
    padding: 45px 72px 40px 72px;
}
.stars {
    margin-top: -400px;
    margin-right: -220px;
}
.card-passive .card-photo{
    opacity: 0;
}
.card-passive .stars{
    opacity: 0;
}
.switch{
    border-radius: 5px;
    height: 19px;
    width: 33%;
}
.sw-passive{
    background: #0077DE33;
}
.sw-active{
    background: #A6FF73;
}
.switches{
    height: 50px;
    width: 100%;
    padding: 0 600px;
    margin-top: 50px;
    margin-bottom: 180px;
}


/* SECTION FEEDBACK */
.section-feedback{
    background: url(./img/background-feedback.png);
}
.form{
    padding: 280px 120px;
    background: #020E20B2;
    backdrop-filter: blur(40px);
}
.form h4{
    color: #A6FF73;
    margin: 10px 0 57px 0;
}
input{
    background-color: transparent;
    padding-left: 35px;
}
input::placeholder{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Jura", sans-serif;
}
.line-form{
    margin-top: -10px;
    margin-bottom: 55px;
}
.btn-type3{
   font-size: 18px; 
   padding: 13px 20px;
   border: 3px solid #A6FF73;
   border-radius: 20px;
   width: 39%;
}
.btn{
    margin-top: 45px;
}



/* INDEX2 */

/* HEADER */

.header{
    background: url(./img/background-index2.png);
    background-repeat: no-repeat;
}
.section-tours{
    padding-top: 70px;
}
.main-header2 h1{
    color: #FFFFFF;
    margin: 67px auto;
}
.filters{
    background: #BBBBBB80;
    padding: 40px 53px;
    border-radius: 20px;
    width: 29%;
    color: black;
    margin-right: 60px;
    height: 30%;
}
.filters h4{
    color: #A6FF73;
}
.filter{
    margin-top: 48px;
}
.option{
    border-radius: 20px;
    border: 1px solid #A6FF73;
    padding: 4px 0 4px 0;
    width: 30%;
    text-align: center;
    transition: 0.2s ease-in;
}
.option:hover{
    background-color: #A6FF73;
}
.option-big{
    width: 65%;
}
.options .row{
    margin-top: 15px;
}
.countries h6{
    margin-bottom: 10px;
}
input[type='radio'] {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #A6FF73;
    padding-left: 0px;
    margin-right: 6px;
}
input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}
input[type="radio"]:checked:before {
    background: #A6FF73;
    
}
input[type="radio"]:checked {
  border-color:#A6FF73;
}
input[type="date"]{
    border: 1px solid #A6FF73;
    padding: 4px 15px;
    border-radius: 10px;
    margin-top: 10px;
}
.filters .btn-type1{
    padding: 7px 19px;
    margin-top: 48px;
}
.tours h4{
    color: #A6FF73;
}
.tours h6{
    color: #A6FF73;
    font-family: "Jura", sans-serif;
    margin: 10px 0;
}
.tours p{
    font-size: 15px;
    margin-top: 15px;
}
.card-type4 .btn-type3{
    padding: 5px 20px;
    width: 18%;
    font-size: 16px;
}
.description-tour2{
    background: #BBBBBB80;
    padding: 27px 33px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-type4{
    margin-bottom: 40px;
}
footer{
    border: 1px solid #A6FF73;
    padding: 80px 0 ;
    margin-top: 165px;
}
footer p{
    font-size: 16px;
}
footer img{
    height: 20%;
}
footer .column{
    width: 30%;
}
footer .container{
    width: 1200px;
}
.footer{
    margin-top: 0px;
}



/* АДАПТИВ */
@media (max-width: 1600px) {
    .container{
        width: 1200px;
    }
    .container-btn {
        margin-top: 260px;
    }
    .section-about-us .container {
        margin: 170px auto 267px auto;
    }
    .img-plane{
        width: 40%;
    }
    .description {
        width: 67%;
    }
    .section-about-us .container {
        margin: 230px auto;
    }
    .section-upcoming-tours .section-heading img {
        width: 43%;
    }
    .card-type1 img{
        width: 65%;
    }
    .description-tour {
        width: 50%;
    }
    .section-gids .section-heading img {
        width: 30%;
    }
    .switch {
        width: 20px;
        height: 120px;
    }
    .border-actiive {
        margin: 0 10px;
    }
    .form {
        padding: 196px 120px;
    }
    .filters {
        width: 45%;
    }
    .card-type4 .btn-type3 {
        width: 34%;
    }
    .main-header2 h1 {
        margin: 50px auto;
    }
} 



